.loader:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 10px;
  text-indent: -9999em;
}
.load2 .loader:before {
  width: 0;
  height: 0;
  -webkit-animation: load2 1.2s infinite ease-in-out;
  animation: load2 1.2s infinite ease-in-out;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load2 {
  0% {
    box-shadow: -2.75em -2.75em 0 2.25em #000000, 2.75em 2.75em 0 2.25em #000000;
  }
  50% {
    box-shadow: 2.75em -2.75em 0 2.25em #000000, -2.75em 2.75em 0 2.25em #000000;
  }
  100% {
    box-shadow: 2.75em 2.75em 0 2.25em #000000, -2.75em -2.75em 0 2.25em #000000;
  }
}
@keyframes load2 {
  0% {
    box-shadow: -2.75em -2.75em 0 2.25em #000000, 2.75em 2.75em 0 2.25em #000000;
  }
  50% {
    box-shadow: 2.75em -2.75em 0 2.25em #000000, -2.75em 2.75em 0 2.25em #000000;
  }
  100% {
    box-shadow: 2.75em 2.75em 0 2.25em #000000, -2.75em -2.75em 0 2.25em #000000;
  }
}
