.load1 .loader:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  text-indent: -9999em;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  background: #fff;
  margin: -2em 0 0 -0.5em;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load1 {
  0%,
  100% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em -1em 0 0em #ffffff, -1.5em 1em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff;
  }
  25% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em -2em 0 0em #ffffff, -1.5em 2em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff;
  }
  37.5% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em -1em 0 0em #ffffff, -1.5em 1em 0 0em #ffffff, 0em -1em 0 0em #ffffff, 0em 1em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff;
  }
  50% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, 0em -2em 0 0em #ffffff, 0em 2em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff;
  }
  62.5% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, 0em -1em 0 0em #ffffff, 0em 1em 0 0em #ffffff, 1.5em -1em 0 0em #ffffff, 1.5em 1em 0 0em #ffffff;
  }
  75% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 1.5em -2em 0 0em #ffffff, 1.5em 2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 1.5em -1em 0 0em #ffffff, 1.5em 1em 0 0em #ffffff;
  }
}
@keyframes load1 {
  0%,
  100% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em -1em 0 0em #ffffff, -1.5em 1em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff;
  }
  25% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em -2em 0 0em #ffffff, -1.5em 2em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff;
  }
  37.5% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em -1em 0 0em #ffffff, -1.5em 1em 0 0em #ffffff, 0em -1em 0 0em #ffffff, 0em 1em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff;
  }
  50% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, 0em -2em 0 0em #ffffff, 0em 2em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff;
  }
  62.5% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, 0em -1em 0 0em #ffffff, 0em 1em 0 0em #ffffff, 1.5em -1em 0 0em #ffffff, 1.5em 1em 0 0em #ffffff;
  }
  75% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 1.5em -2em 0 0em #ffffff, 1.5em 2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: -1.5em 0em 0 0em #ffffff, 1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, -1.5em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 0em 0em 0 0em #ffffff, 1.5em -1em 0 0em #ffffff, 1.5em 1em 0 0em #ffffff;
  }
}
