.load3 .loader:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  text-indent: -9999em;
  font-size: 10px;
  width: 0;
  height: 0;
  -webkit-animation: load3 1s infinite linear;
  animation: load3 1s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load3 {
  0% {
    box-shadow: -2.2em -2.2em 0 2em #ffffff, -2.2em 2.2em 0 1em #ffffff, 2.2em 2.2em 0 2em #ffffff, 2.2em -2.2em 0 1em #ffffff;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    box-shadow: -2.2em -2.2em 0 1em #ffffff, -2.2em 2.2em 0 2em #ffffff, 2.2em 2.2em 0 1em #ffffff, 2.2em -2.2em 0 2em #ffffff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes load3 {
  0% {
    box-shadow: -2.2em -2.2em 0 2em #ffffff, -2.2em 2.2em 0 1em #ffffff, 2.2em 2.2em 0 2em #ffffff, 2.2em -2.2em 0 1em #ffffff;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    box-shadow: -2.2em -2.2em 0 1em #ffffff, -2.2em 2.2em 0 2em #ffffff, 2.2em 2.2em 0 1em #ffffff, 2.2em -2.2em 0 2em #ffffff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
