.load7 .loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
  margin: 8em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load7 {
  0%,
  100% {
    box-shadow: -3.5em 2.5em 0 -1.3em #ffffff, 0em 2.5em 0 -1.3em #ffffff, 3.5em 2.5em 0 -1.3em #ffffff;
  }
  16.7% {
    box-shadow: -3.5em 2.5em 0 -0.65em #ffffff, 0em 2.5em 0 -1.3em #ffffff, 3.5em 2.5em 0 -1.3em #ffffff;
  }
  33.3% {
    box-shadow: -3.5em 2.5em 0 0em #ffffff, 0em 2.5em 0 -0.65em #ffffff, 3.5em 2.5em 0 -1.3em #ffffff;
  }
  50% {
    box-shadow: -3.5em 2.5em 0 -0.65em #ffffff, 0em 2.5em 0 0em #ffffff, 3.5em 2.5em 0 -0.65em #ffffff;
  }
  66.7% {
    box-shadow: -3.5em 2.5em 0 -1.3em #ffffff, 0em 2.5em 0 -0.65em #ffffff, 3.5em 2.5em 0 0em #ffffff;
  }
  83.3% {
    box-shadow: -3.5em 2.5em 0 -1.3em #ffffff, 0em 2.5em 0 -1.3em #ffffff, 3.5em 2.5em 0 -0.65em #ffffff;
  }
}
@keyframes load7 {
  0%,
  100% {
    box-shadow: -3.5em 2.5em 0 -1.3em #ffffff, 0em 2.5em 0 -1.3em #ffffff, 3.5em 2.5em 0 -1.3em #ffffff;
  }
  16.7% {
    box-shadow: -3.5em 2.5em 0 -0.65em #ffffff, 0em 2.5em 0 -1.3em #ffffff, 3.5em 2.5em 0 -1.3em #ffffff;
  }
  33.3% {
    box-shadow: -3.5em 2.5em 0 0em #ffffff, 0em 2.5em 0 -0.65em #ffffff, 3.5em 2.5em 0 -1.3em #ffffff;
  }
  50% {
    box-shadow: -3.5em 2.5em 0 -0.65em #ffffff, 0em 2.5em 0 0em #ffffff, 3.5em 2.5em 0 -0.65em #ffffff;
  }
  66.7% {
    box-shadow: -3.5em 2.5em 0 -1.3em #ffffff, 0em 2.5em 0 -0.65em #ffffff, 3.5em 2.5em 0 0em #ffffff;
  }
  83.3% {
    box-shadow: -3.5em 2.5em 0 -1.3em #ffffff, 0em 2.5em 0 -1.3em #ffffff, 3.5em 2.5em 0 -0.65em #ffffff;
  }
}
