.loader:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 10px;
  text-indent: -9999em;
}
.load4 .loader:before {
  margin: -0.5em 0 0 -0.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -4em 0em 0.2em #000000, 2.7em -2.7em 0 0em #000000, 4em 0em 0 -0.5em #000000, 2.7em 2.7em 0 -0.5em #000000, 0em 4em 0 -0.5em #000000, -2.7em 2.7em 0 -0.5em #000000, -4em 0em 0 -0.5em #000000, -2.7em -2.7em 0 0em #000000;
  }
  12.5% {
    box-shadow: 0em -4em 0em 0em #000000, 2.7em -2.7em 0 0.2em #000000, 4em 0em 0 0em #000000, 2.7em 2.7em 0 -0.5em #000000, 0em 4em 0 -0.5em #000000, -2.7em 2.7em 0 -0.5em #000000, -4em 0em 0 -0.5em #000000, -2.7em -2.7em 0 -0.5em #000000;
  }
  25% {
    box-shadow: 0em -4em 0em -0.5em #000000, 2.7em -2.7em 0 0em #000000, 4em 0em 0 0.2em #000000, 2.7em 2.7em 0 0em #000000, 0em 4em 0 -0.5em #000000, -2.7em 2.7em 0 -0.5em #000000, -4em 0em 0 -0.5em #000000, -2.7em -2.7em 0 -0.5em #000000;
  }
  37.5% {
    box-shadow: 0em -4em 0em -0.5em #000000, 2.7em -2.7em 0 -0.5em #000000, 4em 0em 0 0em #000000, 2.7em 2.7em 0 0.2em #000000, 0em 4em 0 0em #000000, -2.7em 2.7em 0 -0.5em #000000, -4em 0em 0 -0.5em #000000, -2.7em -2.7em 0 -0.5em #000000;
  }
  50% {
    box-shadow: 0em -4em 0em -0.5em #000000, 2.7em -2.7em 0 -0.5em #000000, 4em 0em 0 -0.5em #000000, 2.7em 2.7em 0 0em #000000, 0em 4em 0 0.2em #000000, -2.7em 2.7em 0 0em #000000, -4em 0em 0 -0.5em #000000, -2.7em -2.7em 0 -0.5em #000000;
  }
  62.5% {
    box-shadow: 0em -4em 0em -0.5em #000000, 2.7em -2.7em 0 -0.5em #000000, 4em 0em 0 -0.5em #000000, 2.7em 2.7em 0 -0.5em #000000, 0em 4em 0 0em #000000, -2.7em 2.7em 0 0.2em #000000, -4em 0em 0 0em #000000, -2.7em -2.7em 0 -0.5em #000000;
  }
  75% {
    box-shadow: 0em -4em 0em -0.5em #000000, 2.7em -2.7em 0 -0.5em #000000, 4em 0em 0 -0.5em #000000, 2.7em 2.7em 0 -0.5em #000000, 0em 4em 0 -0.5em #000000, -2.7em 2.7em 0 0em #000000, -4em 0em 0 0.2em #000000, -2.7em -2.7em 0 0em #000000;
  }
  87.5% {
    box-shadow: 0em -4em 0em 0em #000000, 2.7em -2.7em 0 -0.5em #000000, 4em 0em 0 -0.5em #000000, 2.7em 2.7em 0 -0.5em #000000, 0em 4em 0 -0.5em #000000, -2.7em 2.7em 0 0em #000000, -4em 0em 0 0em #000000, -2.7em -2.7em 0 0.2em #000000;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -4em 0em 0.2em #000000, 2.7em -2.7em 0 0em #000000, 4em 0em 0 -0.5em #000000, 2.7em 2.7em 0 -0.5em #000000, 0em 4em 0 -0.5em #000000, -2.7em 2.7em 0 -0.5em #000000, -4em 0em 0 -0.5em #000000, -2.7em -2.7em 0 0em #000000;
  }
  12.5% {
    box-shadow: 0em -4em 0em 0em #000000, 2.7em -2.7em 0 0.2em #000000, 4em 0em 0 0em #000000, 2.7em 2.7em 0 -0.5em #000000, 0em 4em 0 -0.5em #000000, -2.7em 2.7em 0 -0.5em #000000, -4em 0em 0 -0.5em #000000, -2.7em -2.7em 0 -0.5em #000000;
  }
  25% {
    box-shadow: 0em -4em 0em -0.5em #000000, 2.7em -2.7em 0 0em #000000, 4em 0em 0 0.2em #000000, 2.7em 2.7em 0 0em #000000, 0em 4em 0 -0.5em #000000, -2.7em 2.7em 0 -0.5em #000000, -4em 0em 0 -0.5em #000000, -2.7em -2.7em 0 -0.5em #000000;
  }
  37.5% {
    box-shadow: 0em -4em 0em -0.5em #000000, 2.7em -2.7em 0 -0.5em #000000, 4em 0em 0 0em #000000, 2.7em 2.7em 0 0.2em #000000, 0em 4em 0 0em #000000, -2.7em 2.7em 0 -0.5em #000000, -4em 0em 0 -0.5em #000000, -2.7em -2.7em 0 -0.5em #000000;
  }
  50% {
    box-shadow: 0em -4em 0em -0.5em #000000, 2.7em -2.7em 0 -0.5em #000000, 4em 0em 0 -0.5em #000000, 2.7em 2.7em 0 0em #000000, 0em 4em 0 0.2em #000000, -2.7em 2.7em 0 0em #000000, -4em 0em 0 -0.5em #000000, -2.7em -2.7em 0 -0.5em #000000;
  }
  62.5% {
    box-shadow: 0em -4em 0em -0.5em #000000, 2.7em -2.7em 0 -0.5em #000000, 4em 0em 0 -0.5em #000000, 2.7em 2.7em 0 -0.5em #000000, 0em 4em 0 0em #000000, -2.7em 2.7em 0 0.2em #000000, -4em 0em 0 0em #000000, -2.7em -2.7em 0 -0.5em #000000;
  }
  75% {
    box-shadow: 0em -4em 0em -0.5em #000000, 2.7em -2.7em 0 -0.5em #000000, 4em 0em 0 -0.5em #000000, 2.7em 2.7em 0 -0.5em #000000, 0em 4em 0 -0.5em #000000, -2.7em 2.7em 0 0em #000000, -4em 0em 0 0.2em #000000, -2.7em -2.7em 0 0em #000000;
  }
  87.5% {
    box-shadow: 0em -4em 0em 0em #000000, 2.7em -2.7em 0 -0.5em #000000, 4em 0em 0 -0.5em #000000, 2.7em 2.7em 0 -0.5em #000000, 0em 4em 0 -0.5em #000000, -2.7em 2.7em 0 0em #000000, -4em 0em 0 0em #000000, -2.7em -2.7em 0 0.2em #000000;
  }
}
