@import "load.less";
@loadercolor: #000;
.loading:before, .loader-animation-4 .loading:before {
  width:1em;
  height:1em;
  margin:-.5em 0 0 -.5em;
  border:none;
  border-radius:50%;
  background:transparent;
  animation:loader-animation-4 1.3s infinite linear;
  transform:translateZ(0);
}

@keyframes loader-animation-4 {.loader-animation-4-frames;}

.loader-animation-4-frames() {
  0%,100% {
    box-shadow:0em -4em 0em 0.2em @loadercolor,
    2.7em -2.7em 0 0em @loadercolor,
    4em 0em 0 -0.5em @loadercolor,
    2.7em 2.7em 0 -0.5em @loadercolor,
    0em 4em 0 -0.5em @loadercolor,
    -2.7em 2.7em 0 -0.5em @loadercolor,
    -4em 0em 0 -0.5em @loadercolor,
    -2.7em -2.7em 0 0em @loadercolor;
  }
  12.5% {
    box-shadow:0em -4em 0em 0em @loadercolor,
    2.7em -2.7em 0 0.2em @loadercolor,
    4em 0em 0 0em @loadercolor,
    2.7em 2.7em 0 -0.5em @loadercolor,
    0em 4em 0 -0.5em @loadercolor,
    -2.7em 2.7em 0 -0.5em @loadercolor,
    -4em 0em 0 -0.5em @loadercolor,
    -2.7em -2.7em 0 -0.5em @loadercolor;
  }
  25% {
    box-shadow:0em -4em 0em -0.5em @loadercolor,
    2.7em -2.7em 0 0em @loadercolor,
    4em 0em 0 0.2em @loadercolor,
    2.7em 2.7em 0 0em @loadercolor,
    0em 4em 0 -0.5em @loadercolor,
    -2.7em 2.7em 0 -0.5em @loadercolor,
    -4em 0em 0 -0.5em @loadercolor,
    -2.7em -2.7em 0 -0.5em @loadercolor;
  }
  37.5% {
    box-shadow:0em -4em 0em -0.5em @loadercolor,
    2.7em -2.7em 0 -0.5em @loadercolor,
    4em 0em 0 0em @loadercolor,
    2.7em 2.7em 0 0.2em @loadercolor,
    0em 4em 0 0em @loadercolor,
    -2.7em 2.7em 0 -0.5em @loadercolor,
    -4em 0em 0 -0.5em @loadercolor,
    -2.7em -2.7em 0 -0.5em @loadercolor;
  }
  50% {
    box-shadow:0em -4em 0em -0.5em @loadercolor,
    2.7em -2.7em 0 -0.5em @loadercolor,
    4em 0em 0 -0.5em @loadercolor,
    2.7em 2.7em 0 0em @loadercolor,
    0em 4em 0 0.2em @loadercolor,
    -2.7em 2.7em 0 0em @loadercolor,
    -4em 0em 0 -0.5em @loadercolor,
    -2.7em -2.7em 0 -0.5em @loadercolor;
  }
  62.5% {
    box-shadow:0em -4em 0em -0.5em @loadercolor,
    2.7em -2.7em 0 -0.5em @loadercolor,
    4em 0em 0 -0.5em @loadercolor,
    2.7em 2.7em 0 -0.5em @loadercolor,
    0em 4em 0 0em @loadercolor,
    -2.7em 2.7em 0 0.2em @loadercolor,
    -4em 0em 0 0em @loadercolor,
    -2.7em -2.7em 0 -0.5em @loadercolor;
  }
  75% {
    box-shadow:0em -4em 0em -0.5em @loadercolor,
    2.7em -2.7em 0 -0.5em @loadercolor,
    4em 0em 0 -0.5em @loadercolor,
    2.7em 2.7em 0 -0.5em @loadercolor,
    0em 4em 0 -0.5em @loadercolor,
    -2.7em 2.7em 0 0em @loadercolor,
    -4em 0em 0 0.2em @loadercolor,
    -2.7em -2.7em 0 0em @loadercolor;
  }
  87.5% {
    box-shadow:0em -4em 0em 0em @loadercolor,
    2.7em -2.7em 0 -0.5em @loadercolor,
    4em 0em 0 -0.5em @loadercolor,
    2.7em 2.7em 0 -0.5em @loadercolor,
    0em 4em 0 -0.5em @loadercolor,
    -2.7em 2.7em 0 0em @loadercolor,
    -4em 0em 0 0em @loadercolor,
    -2.7em -2.7em 0 0.2em @loadercolor;
  }
}