.load7 .loader:before {
  content:"";
  display:block;
  position:absolute;
  left:50%;
  top:50%;
  text-indent:-9999em;
  border-radius:50%;
  width:2.5em;
  height:2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation:load7 1.8s infinite ease-in-out;
  animation:load7 1.8s infinite ease-in-out;
  margin:-3.75em 0 0 -1.25em;
  font-size:10px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load7 {.load7-frames;}
@keyframes load7 {.load7-frames;}

.load7-frames() {
  0%,100% {
    box-shadow: -3.5em 2.5em 0 -1.3em #fff, 0em 2.5em 0 -1.3em #fff, 3.5em 2.5em 0 -1.3em #fff;
  }
  16.7% {
    box-shadow: -3.5em 2.5em 0 -.65em #fff, 0em 2.5em 0 -1.3em #fff, 3.5em 2.5em 0 -1.3em #fff;
  }
  33.3% {
    box-shadow: -3.5em 2.5em 0 0em #fff, 0em 2.5em 0 -.65em #fff, 3.5em 2.5em 0 -1.3em #fff;
  }
  50% {
    box-shadow: -3.5em 2.5em 0 -.65em #fff, 0em 2.5em 0 0em #fff, 3.5em 2.5em 0 -.65em #fff;
  }
  66.7% {
    box-shadow: -3.5em 2.5em 0 -1.3em #fff, 0em 2.5em 0 -.65em #fff, 3.5em 2.5em 0 0em #fff;
  }
  83.3% {
    box-shadow: -3.5em 2.5em 0 -1.3em #fff, 0em 2.5em 0 -1.3em #fff, 3.5em 2.5em 0 -.65em #fff;
  }
}