@loadercolor: #000;
.load5 .loader:before {
  content:"";
  display:block;
  position:absolute;
  left:50%;
  top:50%;
  text-indent:-9999em;
  margin:-.75em 0 0 -.75em;
  font-size:10px;
  width:1.5em;
  height:1.5em;
  border-radius:50%;
  -webkit-animation:load5 1.1s infinite ease;
  animation:load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {.load5-frames;}
@keyframes load5 {.load5-frames;}
.load5-frames() {
  0%,100% {
  box-shadow:0em -4em 0em 0em @loadercolor,
    2.8em -2.8em 0 0em fadeout(@loadercolor, 80%),
    4em 0em 0 0em fadeout(@loadercolor, 80%),
    2.8em 2.8em 0 0em fadeout(@loadercolor, 80%),
    0em 4em 0 0em fadeout(@loadercolor, 80%),
    -2.8em 2.8em 0 0em fadeout(@loadercolor, 80%),
    -4em 0em 0 0em fadeout(@loadercolor, 50%),
    -2.8em -2.8em 0 0em fadeout(@loadercolor, 30%);
  }
  12.5% {
    box-shadow:0em -4em 0em 0em fadeout(@loadercolor, 30%),
    2.8em -2.8em 0 0em @loadercolor,
    4em 0em 0 0em fadeout(@loadercolor, 80%),
    2.8em 2.8em 0 0em fadeout(@loadercolor, 80%),
    0em 4em 0 0em fadeout(@loadercolor, 80%),
    -2.8em 2.8em 0 0em fadeout(@loadercolor, 80%),
    -4em 0em 0 0em fadeout(@loadercolor, 80%),
    -2.8em -2.8em 0 0em fadeout(@loadercolor, 50%);
  }
  25% {
    box-shadow:0em -4em 0em 0em fadeout(@loadercolor, 50%),
    2.8em -2.8em 0 0em fadeout(@loadercolor, 30%),
    4em 0em 0 0em @loadercolor,
    2.8em 2.8em 0 0em fadeout(@loadercolor, 80%),
    0em 4em 0 0em fadeout(@loadercolor, 80%),
    -2.8em 2.8em 0 0em fadeout(@loadercolor, 80%),
    -4em 0em 0 0em fadeout(@loadercolor, 80%),
    -2.8em -2.8em 0 0em fadeout(@loadercolor, 80%);
  }
  37.5% {
    box-shadow:0em -4em 0em 0em fadeout(@loadercolor, 80%),
    2.8em -2.8em 0 0em fadeout(@loadercolor, 50%),
    4em 0em 0 0em fadeout(@loadercolor, 30%),
    2.8em 2.8em 0 0em fadeout(@loadercolor, 80%),
    0em 4em 0 0em fadeout(@loadercolor, 80%),
    -2.8em 2.8em 0 0em fadeout(@loadercolor, 80%),
    -4em 0em 0 0em fadeout(@loadercolor, 80%),
    -2.8em -2.8em 0 0em fadeout(@loadercolor, 80%);
  }
  50% {

  box-shadow:0em -4em 0em 0em fadeout(@loadercolor, 80%),
    2.8em -2.8em 0 0em fadeout(@loadercolor, 80%),
    4em 0em 0 0em fadeout(@loadercolor, 50%),
    2.8em 2.8em 0 0em fadeout(@loadercolor, 30%),
    0em 4em 0 0em @loadercolor,
    -2.8em 2.8em 0 0em fadeout(@loadercolor, 80%),
    -4em 0em 0 0em fadeout(@loadercolor, 80%),
    -2.8em -2.8em 0 0em fadeout(@loadercolor, 80%);
  }
  62.5% {
    box-shadow:0em -4em 0em 0em fadeout(@loadercolor, 80%),
    2.8em -2.8em 0 0em fadeout(@loadercolor, 80%),
    4em 0em 0 0em fadeout(@loadercolor, 80%),
    2.8em 2.8em 0 0em fadeout(@loadercolor, 50%),
    0em 4em 0 0em fadeout(@loadercolor, 30%),
    -2.8em 2.8em 0 0em @loadercolor,
    -4em 0em 0 0em fadeout(@loadercolor, 80%),
    -2.8em -2.8em 0 0em fadeout(@loadercolor, 80%);
  }
  75% {
    box-shadow:0em -4em 0em 0em fadeout(@loadercolor, 80%),
    2.8em -2.8em 0 0em fadeout(@loadercolor, 80%),
    4em 0em 0 0em fadeout(@loadercolor, 80%),
    2.8em 2.8em 0 0em fadeout(@loadercolor, 80%),
    0em 4em 0 0em fadeout(@loadercolor, 50%),
    -2.8em 2.8em 0 0em fadeout(@loadercolor, 30%),
    -4em 0em 0 0em @loadercolor,
    -2.8em -2.8em 0 0em fadeout(@loadercolor, 80%);
  }
  87.5% {
    box-shadow:0em -4em 0em 0em fadeout(@loadercolor, 80%),
    2.8em -2.8em 0 0em fadeout(@loadercolor, 80%),
    4em 0em 0 0em fadeout(@loadercolor, 80%),
    2.8em 2.8em 0 0em fadeout(@loadercolor, 80%),
    0em 4em 0 0em fadeout(@loadercolor, 80%),
    -2.8em 2.8em 0 0em fadeout(@loadercolor, 50%),
    -4em 0em 0 0em fadeout(@loadercolor, 30%),
    -2.8em -2.8em 0 0em @loadercolor;
  }
}
