@import "load.less";
@loadercolor: #000;
.load2 .loader:before {
  width:0;
  height:0;
  animation:load2 1.2s infinite ease-in-out;
  transform: translateZ(0);
}

@keyframes load2 {.load2-frames;}

.load2-frames() {
  0% {
    box-shadow: -2.75em -2.75em 0 2.25em @loadercolor, 2.75em 2.75em 0 2.25em @loadercolor;
  }
  50% {
     box-shadow: 2.75em -2.75em 0 2.25em @loadercolor, -2.75em 2.75em 0 2.25em @loadercolor;
  }
  100% {
     box-shadow: 2.75em 2.75em 0 2.25em @loadercolor, -2.75em -2.75em 0 2.25em @loadercolor;
  }
}