.load3 .loader:before {
  content:"";
  display:block;
  position:absolute;
  left:50%;
  top:50%;
  text-indent:-9999em;
  font-size:10px;
  width:0;
  height:0;
  -webkit-animation:load3 1s infinite linear;
  animation:load3 1s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load3 {.load3-frames;}
@keyframes load3 {.load3-frames;}

.load3-frames() {
  0% {
    box-shadow: -2.2em -2.2em 0 2em #fff, -2.2em 2.2em 0 1em #fff, 2.2em 2.2em 0 2em #fff, 2.2em -2.2em 0 1em #fff;
  	-webkit-transform:rotate(0deg);
  	transform:rotate(0deg);
  }
  100% {
    box-shadow: -2.2em -2.2em 0 1em #fff, -2.2em 2.2em 0 2em #fff, 2.2em 2.2em 0 1em #fff, 2.2em -2.2em 0 2em #fff;
  	-webkit-transform:rotate(90deg);
  	transform:rotate(90deg);
  }
}