.load6 .loader:before {
  content:"";
  display:block;
  position:absolute;
  left:50%;
  top:50%;
  text-indent:-9999em;
  font-size:10px;
  overflow: hidden;
  width:1em;
  height:1em;
  border-radius:50%;
  margin:-.5em 0 0 -.5em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation:load6 1.7s infinite ease;
  animation:load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {.load6-frames;}
@keyframes load6 {.load6-frames;}

.load6-frames() {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    box-shadow:
    0 -4.15em 0 0em #fff,
    0 -4.15em 0 -.1em #fff,
    0 -4.15em 0 -.2em #fff,
    0 -4.15em 0 -.3em #fff,
    0 -4.15em 0 -.315em #fff;
  }
  5%, 95% {
    box-shadow:
    0 -4.15em 0 0em #fff,
    0 -4.15em 0 -.1em #fff,
    0 -4.15em 0 -.2em #fff,
    0 -4.15em 0 -.3em #fff,
    0 -4.15em 0 -.315em #fff;
  }
  10%,
  59% {
    box-shadow:
    0 -4.15em 0 0em #fff,
    -.435em -4.125em 0 -.1em #fff,
    -.865em -4.06em 0 -.2em #fff,
    -1.28em -3.945em 0 -.3em #fff,
    -1.485em -3.875em 0 -.315em #fff;
  }
  20% {
    box-shadow:
    0 -4.15em 0 0em #fff,
    -1.69em -3.79em 0 -.1em #fff,
    -2.775em -3.085em 0 -.2em #fff,
    -3.335em -2.44em 0 -.3em #fff,
    -3.745em -1.7em 0 -.315em #fff;
  }
  38% {
    box-shadow:
    0 -4.15em 0 0em #fff,
    -1.885em -3.7em 0 -.1em #fff,
    -3.225em -2.61em 0 -.2em #fff,
    -3.875em -1.485em 0 -.3em #fff,
    -4.1em -.45em 0 -.315em #fff;
  }
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
    box-shadow:
    0 -4.15em 0 0em #fff,
    0 -4.15em 0 -.1em #fff,
    0 -4.15em 0 -.2em #fff,
    0 -4.15em 0 -.3em #fff,
    0 -4.15em 0 -.315em #fff;
  }
}

